@using MvcForum.ViewModels;

@model FileViewModel;

@{
    string imagePath = Model.WebRootPath + "/images/" + Model.File.FullFileName;
    
}

<div class="FileContainer">

    <span>File: </span><span class = 'ReplyPicLink'><a href = @imagePath>@Model.File.UserFileName</a></span>
    <span>@Utility.GetFileSizeKB(imagePath)KB, @Utility.GetImageWidth(imagePath) x @Utility.GetImageHeight(imagePath)</span>

    <img id = '@Model.File.FullFileName' src = '/images/@Model.File.ThumbFileName' data-expanded = '0' onclick='resizeImage(event)'>

</div>