<!DOCTYPE html>

@using MvcForum.ViewModels
@using SixLabors.ImageSharp
@using MvcForum.Models



@model ThreadViewModel;


@{
    ViewData["Title"] = "/int/";
    Layout = null;
}


<head>
    <title>/int/</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="@Href("~/css/BoardIndex.css")" />
</head>

<body>


        <div class="BoardName">
        <h1>/int/</h1>
        </div>

    @{
        int imageCounter = 0;
    }

    <div class="PostForm">

        @*fix so that name, type etc are in the same order*@
        <form enctype="multipart/form-data" asp-controller="Post" asp-action="NewPost" method="post" id="PostingForm">

            <table>
                <tr class="SubjectSubmitRow">
                    <td id="SubjectCell"><input name="Subject" type="text" maxlength="80" placeholder="Subject" /></td>

                    <td id="SubmitButtonCell"><input type="Submit" id="SubmitForm" value="Submit"/></td>
                </tr>
                <tr>
                    <td>
                        <label for="SageBox" id="SageLabel">Sage</label>
                        <input type="checkbox" id="SageBox" name="SageBox"/>
                    </td>
                </tr>
                <tr>
                    <td>
                    <textarea form="PostingForm" name="PostText" maxlength="5000" placeholder="Enter text here..."></textarea>
                    </td>
                </tr>
                <tr>
                    <td><input name="file" type="file" id="FileSelector"/></td>
                
                </tr>

                <input name="current_url" type="hidden"  value="@Context.Request.Path" />




            </table>

        </form>

        

    </div>


    <div class="Thread">

        @{
            Post OPpost = Model.Thread.Posts[0];
            string imagePath = Model.WebRootPath + "/images/" + OPpost.FullImageName;
            string imageFileName = System.IO.Path.GetFileName(imagePath);
            using (var image = SixLabors.ImageSharp.Image.Load(imagePath))
            {
                double FileSize = new System.IO.FileInfo(imagePath).Length;
                FileSize *= 0.00097656;
                FileSize = Math.Round(FileSize, 2);

                <div class = 'OpPost'>
                    <div class = 'OpPicInfo'>
                        <span>File: </span><span class = 'OpPicLink'><a href = @imageFileName>@imageFileName</a></span>
                        <span>@FileSize.ToString()KB, @image.Width x @image.Height</span>
                    </div>

                    <div class = 'OpPic'>
                        <img id = '@imageCounter.ToString()' src='/images/@OPpost.ThumbImageName' data-isop = '1' onclick='resizeImage(event)'>
                        @{
                            imageCounter++;
                            Console.WriteLine("incremented imageCounter");
                            Console.WriteLine($"imageCounter: {imageCounter}");
                        }
                    </div>
                    <div class = 'PostInfo'>
                        @*No Name field in Post model*@
                        <span class = 'PosterName'>Anonymous</span>
                        <span class = 'Timestamp'>@OPpost.Timestamp.ToString()</span>
                    </div>
                    <div class = 'PostText'>
                        <p>@OPpost.Text</p>
                    </div>
                </div>


                @foreach (var post in Model.Thread.Posts)
                if (!post.IsOP)
                {
                        
                    {
                        if (post.HasImage)
                        {
                            imagePath = Model.WebRootPath + "/images/" + post.FullImageName;
                            imageFileName = System.IO.Path.GetFileName(imagePath);
                            using (var image1 = SixLabors.ImageSharp.Image.Load(imagePath))
                            {
                                FileSize = new System.IO.FileInfo(imagePath).Length;
                                FileSize *= 0.00097656;
                                FileSize = Math.Round(FileSize, 2);
                        

                            <div class = 'ImageReplyPost'>
                                <div class = 'PostInfo'>
                                    <span class = 'PosterName'>Anonymous</span>
                                    <span class = 'Timestamp'>@post.Timestamp.ToString()</span>
                                </div>
                                <div class = 'ReplyImageInfo'>
                                    <span>File: </span><span class = 'ReplyPicLink'><a href = @imageFileName>@imageFileName</a></span>
                                    <span>@FileSize.ToString()KB, @image.Width x @image.Height</span>
                                </div>
                                <div class = 'ReplyImageTextContainer'>
                                    <div class = 'ReplyImage'>
                                        <img id = '@imageCounter.ToString()' src = '/images/@post.ThumbImageName' data-isop = '0' onclick = 'resizeImage(event)'>
                                            @{
                                                imageCounter++;
                                                Console.WriteLine("incremented imageCounter");
                                                Console.WriteLine($"imageCounter: {imageCounter}");
                                            }
                                    </div>
                                    <div class = 'PostText'>
                                        @post.Text;
                                    </div>

                                </div>
                            </div>
                            }
                        } else
                        {
                            <div class = 'ReplyPost'>
                                <div class = 'PostInfo'>
                                    <span class = 'PosterName'>Anonymous</span>
                                    <span class = 'Timestamp'>@post.Timestamp.ToString()</span>
                                </div>
                                <div class = 'PostText'>
                                    <p>@post.Text;</p>
                                </div>

                            </div>
                        }
                    }
                }


            }
        }



         </div>




</body>





